langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
langchain-google-genai
langgraph
pydantic

openai
langchain-mcp-adapters

sentence-transformers
faiss-cpu

pypdf
python-docx
python-pptx
unstructured
unstructured[docx]
unstructured[pptx]

aiosqlite
langgraph-checkpoint-sqlite

requests
python-dotenv

streamlit
mcp
fastmcp
langchain_chroma
torchvision

fastapi
uvicorn